<div style="margin-bottom: 20%;">
    <h1>
        Experiência
    </h1>
    <h1 class="exp">
        KWaut
    </h1>
    <h2 class="exp">Sistemas Supervisórios de Subestações Elétricas</h2>
    <div id="box2" class="exp">
        <img src="assets/layout/images/Subestacao.jpeg" alt="Foto" width="400" height="300">
    </div>
    <h2>
        Cargo
    </h2>
    <h3>
        Programador Sênior
    </h3>
    <h2>
        Tempo de Experiência
    </h2>
    <h3>
        3 anos
    </h3>
    <h2>
        Softwares Utilizados
    </h2>
    <h3 class="exp">Sage</h3>
    <h3 class="exp">Elipse</h3>
</div>
<hr>