<div style="margin-bottom: 35%;">
    <h1>
        Habilidades
    </h1>
    <h1>
        Hard Skills
    </h1>
    <!--Box Hard Skills-->
    <div id="box4" class="hs">
        <hr class="vert hs">
        <h2 id="box6" class="hs">
            HTML<br><br>
            CSS <br><br>
            Python <br><br>
            JavaScript <br><br>
            TypeScript <br><br>
            Inglês<br><br>
            Espanhol<br><br>  
        </h2>
        <h3 id="box7" class="hs">
            Intermediário<br>
            <hr class="skill html"><br>
            Intermediário<br>
            <hr class="skill css"><br>
            Intermediário<br>
            <hr class="skill ingles"><br>
            <span class="box7 hs">Iniciante</span><br>
            <hr class="skill esp"><br>
            Intermediário<br>
            <hr class="skill ingles"><br>
            Intermediário<br>
            <hr class="skill ingles"><br>
            <span class="box7 hs">Iniciante</span><br>
            <hr class="skill esp"><br>
        </h3>
    </div>
</div>
<div style="margin-bottom: 30%;">
    <h1>
        Soft Skills
    </h1>    
    <!--Box Hard Skills-->
    <div id="box4" class="ss">
        <hr class="vert ss">
        <h2 id="box6" class="ss">
            Criatividade<br><br>
            Zelo<br><br>
            Proatividade<br><br>
            Resiliência<br><br>  
        </h2>
        <h3 id="box7" class="ss">
            <span class="box7 ss">Avançado</span><br>
            <hr class="skill criatividade"><br>
            <span class="box7 ss">Avançado</span><br>
            <hr class="skill zelo"><br>
            <span class="box7 ss">Avançado</span><br>
            <hr class="skill proatividade"><br>
            <span class="box7 ss">Avançado</span><br>
            <hr class="skill resiliencia"><br>
        </h3>
    </div>
</div>
<hr>