<div id="menu" class="rod">
    <li><a href="https://www.instagram.com/jorge_kloster/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" height="30" width="30"></a></li>
    <li><a href="https://www.facebook.com/jorge.kloster.39" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/59/59439.png" height="30" width="30"></a></li>
    <li><a href="https://br.linkedin.com/in/jorge-kloster?trk=people-guest_people_search-card" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" height="30" width="30"></a></li>
    <li><a href="https://github.com/JorgeKloster" target="_blank"><img src="assets/layout/images/github.png" height="30" width="30"></a></li>
</div>