<div style="margin-bottom: 50%;">
    <h1>
        Olá, me chamo Jorge Kloster!<br>
        Sou desenvolvedor e posso te ajudar a concluir seus projetos
    </h1>
    <div id="box2">
        <img src="assets/layout/images/foto.jpg" alt="Foto" width="400" height="400">
    </div>
    <h2>
        Idade
    </h2>
    <h3>
        24 anos
    </h3>
    <h2>
        Idiomas
    </h2>
    <h3>
        <li class="circ">Português - <b>Nativo</b></li>
        <li class="circ">Inglês - <b>Intermediário</b></li>
        <li class="circ">Espanhol - <b>Iniciante</b></li>
    </h3>
    <h2>
        Linguagens
    </h2>
    <h3>
        <li class="circ">HTML</li>
        <li class="circ">CSS</li>
        <li class="circ">Python</li>
        <li class="circ">JavaScript</li>
        <li class="circ">TypeScript</li>
    </h3>
    <h2>
        Frameworks
    </h2>
    <h3>
        <li class="circ">Angular</li>
        <li class="circ">Ionic</li>
    </h3>
    <div id="box3">
        <img src="assets/layout/images/codigo.jpg" alt="Foto" width="300" height="300">
    </div>

    <div id="box5">
        <img src="assets/layout/images/Ling.jpg.jpeg" alt="Foto" width="300" height="300">
    </div>


    <!--Box de formação acadêmica-->
    <div id="box4">
        <h2 class="acad">
            Formação Acadêmica
            <hr class="vert">
        </h2>
        <h3 id="box6">
            <b>Engenharia de Software</b> - UniGuairacá<br>
            <b>Em curso</b> - 3º Período <br>
            Conhecimentos em:<br>
            Arquitetura de Computadores<br>
            Redes de Computadores<br>
            Desenvolvimento WEB<br>
            Bancos de Dados<br>
            Robótica<br>
            Programação para Dispositivos Móveis<br>
        </h3>
        <h3 id="box7">
            <b>Administração</b> - Unicentro<br>
            <b>Concluído</b> - 2020 <br>
            Conhecimentos em:<br>
            Finanças<br>
            Estratégia<br>
            TCC em Administração de Processos<br>
        </h3>
    </div>
</div>    
<hr>

