<div style="margin-bottom: 20%;">
    <h1>
        Contato
    </h1>
    <h1 class="exp">Redes Sociais</h1>
    <div id="menu" class="cont">
        <li class="menu"><a href="https://www.instagram.com/jorge_kloster/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" height="50" width="50"></a></li>
        <li class="menu"><a href="https://www.facebook.com/jorge.kloster.39" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/59/59439.png" height="50" width="50"></a></li>
        <li class="menu"><a href="https://br.linkedin.com/in/jorge-kloster?trk=people-guest_people_search-card" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" height="50" width="50"></a></li>
        <li class="menu"><a href="https://github.com/JorgeKloster" target="_blank"><img src="assets/layout/images/github.png" height="50" width="50"></a></li>
    </div>
    <h1 class="exp">Telefone</h1>
    <h2 class="exp">(42) 99800-2330</h2>
    <h1 class="exp">Email</h1>
    <h2 class="exp">jfkloster@gmail.com</h2>
</div>
<hr>